@import "blocks/*.scss";


$black: #292929;
$body: #666666;
$green: #497870;

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html, body {
    height: 100%;
    font-family: "Alegreya Sans";
    font-size: 18px;
    color: $body;
    scroll-behavior: smooth;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    color: $black;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

.container {
    max-width: 52.2rem;
    margin: 0 auto;
}




.order {
    border-radius:28px;
    border: none;
    background: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color:#365A49;
	font-size:16px;
    padding: 1.11rem 2.22rem;
    transition: 0.4s;
    outline: none;
    &:hover {
        color:#497870;
    }
}
.order--slider {
    outline: none;
    background: #497870;
    color: white;
    &:hover {
        background: #365A49;
        color: white;
    }
}
.wrapper {
    overflow: hidden;
    transition: 400ms;
    height: 100%;
}

.maincontent {
    height: 100%;
    transition: transform 800ms;
    will-change: transform;
}

.section {
    height: 100%;
}