address {
  font-size: 22px;
  font-style: normal;
}
address:before {
  content: "";
  background: url("../../img/phone.png");
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 6px;
}

.chocco {
  max-width: 55px;
}
.chocco .chocco__list {
  display: flex;
  flex-wrap: wrap;
}

.chocco__item {
  margin-right: 3px;
  width: 15px;
}

.header {
  padding-top: 25px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu .menu__item {
  margin-right: 25px;
}
.menu .menu__item:last-child {
  margin-right: 0;
}