$black: #292929;
$body: #666666;
$green: #497870;

.reviews {
    text-align: center;
    padding-bottom: 63px;
    &::before {
        content: '';
        position: absolute;
        display: block;
        background-image: url(../../img/reviews-section/reviews-berries.png);
        right: 26px;
        width: 136px;
        height: 78px;
    }
}
.reviews__head {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 32px;
}
.reviews__block {
    background: #F8FAF9;
    position: relative;
    display: flex;
    padding: 42px;
    align-items: center;
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 83px;
        height: 49px;
        border-radius: 50%;
        background: #fff;
        transform: translate(500%,-360%);
    }
    &::before {
        content: '';
        position: absolute;
        background-image: url(../../img/reviews-section/reviews-leaf.png);
        right: 0;
        top: 22px;
        display: block;
        width: 127px;
        height: 167px;
        
    }
}

.reviews__block-text {
    text-align: left;
    margin-left: 40px;
}

.reviews__title {
    margin-bottom: 12px;
    color: $black;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
}

.reviews__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 460px;
    margin-bottom: 25px;
}

.reviews__name {
    font-weight: 500;
    font-size: 18px;
    color: $black;
}

.reviews__list {
    margin-top: 15px;
    li {
        margin-right: 6pxx;
    }
}
.reviews__link-img {
    border-radius: 50%;
    width: 74px;
}