.bars {
    background: #F8FAF9;
    height: 100%;
    // min-height: 36.11rem;
    display: flex;
    padding: 0 1rem; position: relative;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-width: 59rem;
        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            right: -5rem;
            bottom: -5rem;
            width: 8rem;
            height: 20rem;
            background-image: url('../../img/bars/big-leaf.png');
        }
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            right: -5vw;
            bottom: -4vw;
            width: 8rem;
            height: 7rem;
            background-image: url('../../img/bars/blackberry.png');
        }
    }
    
}

.bars__svg {
    fill: none;
    width: 0.75rem;
}

.bars__slide {
    display: flex;
    flex-direction: row;
}

.bars__img-col {
    flex-shrink: 0;
    width: 50%;
    background: url('../../img/bars/bars-1.png') 46% center/17rem no-repeat,
    url('../../img/bars/leaf-2.png') left 30%/4rem no-repeat,
    url('../../img/bars/leaf-1.png') 90% bottom/5.5rem no-repeat,
    url('../../img/bars/ellipse-2.png') center 60%/20rem no-repeat,
     url('../../img/bars/ellipse-1.png') center 80%/20rem no-repeat;
}
.bars__img-col-2 {
    min-width: 0;
    width: 50%;
    background: url('../../img/bars/bar_sea.png') 46% center/17rem no-repeat,
    url('../../img/bars/leaf-2.png') left 30%/4rem no-repeat,
    url('../../img/bars/leaf-1.png') 90% bottom/5.5rem no-repeat,
    url('../../img/bars/ellipse-2.png') center 60%/20rem no-repeat,
     url('../../img/bars/ellipse-1.png') center 80%/20rem no-repeat;
}
.bars__col {
    width: 50%;
    margin-left: 4rem;
    position: relative;
}

.bars__composition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 0.3rem;
    background: #86C3D7;
    margin-bottom: 1.2rem;
    &:hover {
        .bars__dropdown {
            top: 0;
            left: 5rem;
            opacity: 1;
        }
    }
    span {
        margin-top: 0.3rem;
        color: white;
        font-size: 0.77rem;
        font-weight: 700;
    }
}
.bars__dropdown {
    background: rgba(255, 255, 255, 0.8);
    width: 15rem;
    position: absolute;
    left: -9999px;
    z-index: 15;
    opacity: 0;
    transition: opacity .4s;
    padding: 1.2rem;
    border-radius: 0.5rem;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span {
            color: black;
        }
    }
}

.bars__icon {
    width: 2.5rem;
    height: 2.5rem;
}

.bars__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.38rem;
    text-align: left;
    margin-bottom: 1.2rem;
}

.bars__desc {
    p {
    text-align: left;
    width: 80%;
    }
    strong {
        color: #292929;
    }
}

.bars__price {
    font-size: 3.33rem;
    color: #292929;
}

@media (max-width:768px) {
    .bars__img-col {
        width: 100%;
        min-height: 17rem;
        background: url('../../img/bars/bars-1.png') 49% center/14.5rem no-repeat,
        url('../../img/bars/leaf-2.png') 18% 20%/4rem no-repeat,
        url('../../img/bars/leaf-1.png') 75% bottom/5.5rem no-repeat,
        url('../../img/bars/ellipse-2.png') center 60%/18.5rem no-repeat,
         url('../../img/bars/ellipse-1.png') center 80%/20rem no-repeat;
    }
    .bars__img-col-2 {
        width: 100%;
        min-height: 17rem;
        background: url('../../img/bars/bar_sea.png') 49% center/14.5rem no-repeat,
        url('../../img/bars/leaf-2.png') 18% 20%/4rem no-repeat,
        url('../../img/bars/leaf-1.png') 75% bottom/5.5rem no-repeat,
        url('../../img/bars/ellipse-2.png') center 60%/18.5rem no-repeat,
         url('../../img/bars/ellipse-1.png') center 80%/20rem no-repeat;
    }
    .bars {
        // min-height: 55.55rem;
        .container {
            padding: 0 0.75rem;
        }
    }
    .bars__slide {
        flex-direction: column;
        align-items: center;
    }
    .bars__col {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        p { 
        text-align: center;
        max-width: 80%;
        }
    }
    .bars__composition {
        display: none;
    }
    .bars__title {
        text-align: center;
        font-size: 1.66rem;
    }
    .bars__desc {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .bars {
        // min-height: 44.44rem;
        p {
            max-width: 100%;
        }
    }
    
    
    .bars__img-col {
        min-height: 15rem;
        background: url('../../img/bars/bars-1.png') 49% center/13.5rem no-repeat,
        url('../../img/bars/leaf-2.png') 5% 22%/3rem no-repeat,
        url('../../img/bars/leaf-1.png') 95% bottom/4.3rem no-repeat,
        url('../../img/bars/ellipse-2.png') center 60%/17rem no-repeat,
         url('../../img/bars/ellipse-1.png') center 80%/18rem no-repeat;
    }
    .bars__img-col-2 {
        min-height: 15rem;
        background: url('../../img/bars/bar_sea.png') 49% center/13.5rem no-repeat,
        url('../../img/bars/leaf-2.png') 5% 22%/3rem no-repeat,
        url('../../img/bars/leaf-1.png') 95% bottom/4.3rem no-repeat,
        url('../../img/bars/ellipse-2.png') center 60%/17rem no-repeat,
         url('../../img/bars/ellipse-1.png') center 80%/18rem no-repeat;
    }
}



.bars__btn_right {
    position: absolute;
    right: 0;
    z-index: 10;
}
.bars__btn_left {
    position: absolute;
    left: 0;
    z-index: 10;
}

.bx-wrapper  { 
    .bx-viewport{
        background: #F8FAF9;
        padding: 0; 
    }

    border: none !important;  
    box-shadow: none !important;
    
    .bx-pager {
        display: none;
    }
    .bx-prev {
        background: url('../../img/bars/arr-prev.png') no-repeat !important;
    }
    .bx-next {
        background: url('../../img/bars/arr-next.png') no-repeat !important;
    }
}

