.contacts {
    text-align: center;
    position: relative;
    // background: url(../../img/contacts/map.png) 100%/cover no-repeat;
    .container {
        width: 100vw;
        height: 100vh;
    }
}

