address {
    font-size: 22px;
    font-style:normal;
    &:before {
        content: '';
        background: url('../../img/phone.png');
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: 6px;
    }
    
}
.chocco {
    max-width: 55px;
    .chocco__list {
        display: flex;
        flex-wrap: wrap;
    }
}
.chocco__item {
    margin-right: 3px;
    width: 15px;
}

.header{
    padding-top: 25px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    .menu__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}