.chocco {
    width: 55px;
}


.header{
    padding-top: 25px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    .menu__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}
a {
    text-decoration: none;
    color: white;
}

.phone {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-style:normal;
}
.phone__icon-elem {
    width: 14px;
    margin-right: 6px;
}
.hamburger {
    display: none;
}

@media (max-width:768px) {
    .header {
        .container {
            padding: 0 2rem;
        }
    }
    .hamburger {
        display: block;
        align-self: flex-start;
    }
    .menu, address {
        display: none;
    }
}