.chocco {
    width: 3.05rem;
}
.chocco__icon {
    fill: white;
    width: 3.05rem;
    height: 2.1rem;
}

.header{
    padding-top: 1.38rem;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    .menu__item {
        margin-right: 2vw;
        &:last-child {
            margin-right: 0;
        }
    }
}
a {
    text-decoration: none;
    color: white;
}

.phone {
    display: flex;
    align-items: center;
    font-size: 1.22rem;
    font-style:normal;
}
.phone__icon {
    fill: white;
    width: 14px;
    height: 14px;
    margin-right: 0.3rem;
}
.hamburger {
    display: none;
}

@media (max-width:768px) {
    .header {
        .container {
            padding: 0 2rem;
        }
        .menu, address {
            display: none;
        }
    }
    .hamburger {
        display: block;
        align-self: flex-start;
    }
    .hamburger__icon {
        fill: white;
        width: 1.45rem;
        height: 1.33rem;
    }
}