@charset "UTF-8";
.hello {
  margin-top: 4.72rem;
  padding-bottom: 2.77rem;
}
.hello::before {
  content: "";
  position: absolute;
  width: 28.75rem;
  height: 21.3125rem;
  background-image: url(../../img/hello-section/right-leaves-and-berry.png);
  background-repeat: no-repeat;
  background-position: center center;
  bottom: -3.5rem;
  right: 0.6875rem;
}
.hello::after {
  content: "";
  position: absolute;
  width: 3.6875rem;
  height: 7rem;
  background-image: url(../../img/hello-section/left-leaf.png);
  background-repeat: no-repeat;
  background-position: center center;
  bottom: -3rem;
  left: 1.9rem;
}

.hello__head {
  max-width: 19.61rem;
  font-size: 2.66rem;
  line-height: 3.22rem;
  color: white;
}

.hello__desc {
  margin-top: 0.944rem;
  margin-bottom: 1.77rem;
  max-width: 19.61rem;
  font-size: 1.16rem;
  line-height: 1.38rem;
}

.hello__pref-list {
  margin-top: 3.55rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 28.44rem;
}
.hello__pref-list .hello__pref-desc {
  font-size: 0.88rem;
}
.hello__pref-list .hello__pref-item {
  max-width: 9.16rem;
  display: flex;
  align-items: flex-start;
}

.hello__icon {
  fill: #C6F7FF;
  width: 2.05rem;
  height: 1.94rem;
  margin-right: 0.66rem;
}

@media (max-width: 768px) {
  .hello {
    text-align: center;
    margin-top: 28.33rem;
  }
  .hello .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  .hello::after {
    display: none;
  }
  .hello::before {
    display: none;
  }

  .hello__head {
    max-width: 100%;
  }

  .hello__pref-list {
    display: none;
  }
}
@media (max-width: 480px) {
  .hello {
    margin-top: 22rem;
  }

  .hello__desc {
    margin-top: 0.5rem;
  }

  .hello__head {
    font-size: 2.22rem;
    line-height: 2rem;
  }
}
.bg--blue {
  background-color: #61C4D9;
  background-image: url("../../img/hello-section/Батончики.png"), url("../../img/hello-section/leaves.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, contain;
  background-position: 96% 44%, right bottom;
  position: relative;
  color: #fff;
  height: 100%;
  min-height: 36.11rem;
}
@media (max-width: 768px) {
  .bg--blue {
    min-height: 55.55rem;
    background-image: url("../../img/hello-section/right-leaves-and-berry.png"), url("../../img/hello-section/Батончики.png"), url("../../img/hello-section/leaves.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20rem, 20rem, 30rem;
    background-position: 65% 40%, center 30%, right 30%;
  }
}
@media (max-width: 480px) {
  .bg--blue {
    min-height: 44.44rem;
    background-size: 18rem, 18rem, 18rem;
    background-position: 65% 35%, center 20%, right 20%;
  }
}