@charset "UTF-8";
textarea {
  border: none;
  border-radius: 5px;
}

textarea:active, input[type=text]:active, input[type=number]:active {
  outline: none;
  border: 3px solid #DEE2BD;
}

textarea:focus, input[type=text]:focus, input[type=number]:focus {
  outline: none;
  border: 3px solid #DEE2BD;
}

.cta {
  background: url("../../img/cta-section/blackberry.png") 5% 95%/47px no-repeat, url(../../img/cta-section/leaf.png) 98% 96%/135px no-repeat, url("../../img/cta-section/order-gb.png") 50%/cover no-repeat;
  height: 100vh;
}
.cta::before {
  content: "";
  position: absolute;
  display: block;
  width: 196px;
  background: url("../../img/cta-section/leaf-berry.png");
}

.cta .container {
  padding: 52px 0 85px;
}

.cta__head {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  color: #497870;
  margin-bottom: 59px;
}

.form__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: #497870;
}

.form__col {
  max-width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.form__col.form__col:first-child {
  max-height: 270px;
}
.form__col div {
  margin-top: 2px;
}
.form__col input {
  min-height: 58px;
  border: none;
  border-radius: 5px;
}

.form__first-name {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form__first-name div {
  max-width: 49%;
}
.form__first-name div input {
  width: 100%;
}
.form__first-namediv:first-child {
  margin-right: 20px;
}

.form__street {
  width: 100%;
}

.form__foot {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.form__foot div {
  width: 23%;
}

.form__house, .form__corp, .form__flat, .form__floor {
  max-width: 100%;
}

.form__comm {
  width: 100%;
}
.form__comm .form__comment {
  width: 100%;
  min-height: 155px;
  resize: none;
  overflow: auto;
}

.form__check-rad {
  min-height: 65px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.form__check-rad .input {
  width: 49%;
}
.form__check-rad input {
  min-height: auto;
  font-size: 18px;
  line-height: 22px;
}

.form__btn {
  max-width: 100%;
  text-align: right;
}
.form__btn button {
  margin-left: -1px;
  border-radius: 28px;
  border: none;
  background: #497870;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 20px 40px;
}
.form__btn button:last-child {
  background: none;
  color: #497870;
  font-weight: normal;
  text-transform: none;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
  background: #fff;
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23497870' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #fff;
}

/* для элемента input c type="radio" */
.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio:first-child {
  margin-right: 23px;
}

.custom-radio {
  margin-bottom: 21px;
}

/* для элемента label связанного с .custom-radio */
.custom-radio > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23497870'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio > input:disabled + span::before {
  background-color: #e9ecef;
}