.reviews {
  text-align: center;
  padding: 63px 0;
  background: url(../../img/reviews-section/reviews-berries.png) 97% 10%/136px no-repeat;
  height: 100vh;
  min-height: 650px;
}
.reviews::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 17.5rem;
  background-image: url(../../img/reviews-section/pattern.png);
  background-repeat: no-repeat;
  background-attachment: local;
  left: 0;
  top: 150rem;
}

.reviews__head {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 32px;
}

.reviews__block {
  background: url(../../img/reviews-section/reviews-leaf.png) right 5%/127px no-repeat, #F8FAF9;
  position: relative;
  display: flex;
  padding: 42px;
  align-items: center;
}
.reviews__block::after {
  content: "";
  position: absolute;
  display: block;
  width: 83px;
  height: 49px;
  border-radius: 50%;
  background: #fff;
  transform: translate(500%, -360%);
}

.reviews__block-text {
  text-align: left;
  margin-left: 40px;
}

.reviews__title {
  margin-bottom: 12px;
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
}

.reviews__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 460px;
  margin-bottom: 25px;
}

.reviews__name {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
}

.reviews__list {
  margin-top: 15px;
}
.reviews__list li {
  margin-right: 6px;
  display: inline-block;
}

.reviews__link-img {
  border-radius: 50%;
  width: 74px;
}

.reviews__name-mob {
  display: none;
}

@media (max-width: 768px) {
  .reviews {
    text-align: center;
    padding: 63px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../img/reviews-section/reviews-berries.png) 97% 0%/136px no-repeat;
    min-height: 1000px;
  }
  .reviews .container {
    padding: 0 1.2rem;
  }
  .reviews::after {
    background-image: url(../../img/reviews-section/pattern.png);
    width: 5rem;
    height: 15.66rem;
    top: 212rem;
  }

  .reviews__block {
    flex-direction: column;
    max-width: 100%;
  }

  .reviews__img {
    width: 7.2rem;
    margin-bottom: 32px;
  }

  .reviews__block-text {
    margin-left: 0;
  }

  .reviews__title, .reviews__desc, .reviews__name {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .reviews {
    padding: 0 0.5rem;
    min-height: 44.44rem;
    background: url(../../img/reviews-section/reviews-berries.png) 108% 15%/136px no-repeat;
  }
  .reviews .container {
    padding: 0;
  }
  .reviews::after {
    top: 170rem;
    background-size: 90%;
  }
  .reviews .reviews__block {
    padding-bottom: 0.4rem;
  }
  .reviews .reviews__desc {
    margin-bottom: 0;
  }
  .reviews .reviews__name-mob {
    font-weight: 500;
    color: #292929;
    margin-top: 0.6rem;
    margin-bottom: 2.7rem;
    display: block;
  }
  .reviews .reviews__name {
    display: none;
  }
}